* {
    box-sizing: border-box;
 
}


:root {
    --background-color : #FAF9F6 ;
    --text-color : #000000 ; 
    --text-accent-color : #CDB7A5 ;
    --element-primary : #E9E8E5 ; 
    --element-secondary : #F4F3F1 ;
    --bg-wp : #E0DFDC ;
    --text-color-invert : #FFFFFF ;
}

@media (prefers-color-scheme: dark){
    :root{
        --background-color : #121412;
        --text-color : #FFFFFF ; 
        --text-accent-color :  #CDB7A5 ; /* to change */
        --element-primary : #E9E8E5 ; /* to change */
         --text-color-invert : #000000 ;
    }
}

body {
    background-color: var(--background-color);
    margin-bottom: 100px;
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 1;
}

.navbar-left {
    display: flex;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.7);
    width: 530px ;
    height: 60px;
    border-radius: 25px;
    margin-right: 20px;
    box-shadow: inset 0 0 0 2px rgba(233, 232, 229, 0.35);
    backdrop-filter: blur(20px);

}

.navbar-left p {
    margin-left:  20px;
    font-family: newsreader;
    font-size: 16px;
    font-weight: normal;
    color: var(--text-color-invert);
}

.image-navbar img {
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.whereweat{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    top: 10px;
    right: 65px;
    background-color: var(--element-primary);
    padding: 0 20px; 
    height: 40px;
    border-radius: 100px;

}

.whereweat p {
    margin: 0;
    color: var(--text-color);
}

.arrow-navbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 26, 26, 0.7);
    width: 60px ;
    height: 60px;
    border-radius: 25px;
    box-shadow: inset 0 0 0 2px rgba(233, 232, 229, 0.35);
    backdrop-filter: blur(20px);
}


.hero {
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 90px;
    margin-right: 90px;
}

.hero h2 {
    margin: 0;
    font-family: newsreader;
    font-weight: normal;
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 20px;
}

.hero h1 {
    margin: 0;
    font-family: newsreader;
    font-weight: normal;
    color: var(--text-color);
    font-size: 120px;
}

.hero-image {
    position: absolute;
    margin : 0;
    top: 90px;
    right: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--element-primary);
    width: 294px;
    height: 294px;
    border-radius: 50px;

}

.hero-image img {
    width: 274px;
    height: 274px;
    border-radius: 40px;
    opacity: 50%;
    filter: grayscale(100%);
    transition: opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1),
                filter 0.8s cubic-bezier(0.22, 1, 0.36, 1);

}

.hero-image img:hover {
    opacity: 100%;
    filter: grayscale(0%);
}

.hero-bottom {
    margin: 0;
    left: 90px;
    right: 90px;
    display : flex ; 
    align-items: flex-end;
    justify-content: space-between;
}

.hero-job {
    margin: 0;
    color: var(--text-accent-color);
    font-family: newsreader;
    font-size: 30px;
    font-weight: normal;
}

.hero-info {
    margin: 0;
    color: var(--text-color);
    font-family: newsreader;
    font-size: 30px;
    font-weight: normal;
    text-align: right;
}

.projet-button {
    margin-top: 20px;
    height: 70px;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--element-primary);
    border-radius: 100px;
    border: none;
    gap: 20px;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.projet-button p {
    font-family: newsreader;
    font-size: 24px;
    font-weight: normal;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.circle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
    width: 40px;
    height: 40px;
    border-radius: 100%;
     transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.circle-button svg {
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.projet-button:hover p {
    transform: translateX(-2px);
}

.projet-button:hover .circle-button {
    transform: translateX(2px) scale(1.15); 
}

.projet-button:hover .circle-button svg {
    transform: translateX(2px) rotate(15deg);
}

.About-Me {
    top: 40px;
    margin-left: 90px;
    margin-right: 90px;
}

.About-Me h2 {
    font-family: newsreader;
    font-size: 36px;
    font-weight: bold;
    color: var(--text-color);
}

.bento-bg {
    width: 100%;
    min-height: 700px;
    background-color: var(--element-primary);
    border-radius: 50px;
    padding: 20px;
}

.bento-bg .bento-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: 210px 90px 320px;  
    gap: 20px;
}

.b1, .b2, .b3, .b4, .b5, .b6, .b7, .b8, .b9 {
    background-color: var(--element-secondary); 
    border-radius: 30px;
    padding: 20px;
 
    width: 100%;
    height: 100%;
}

.b1 { 
    grid-column: span 4;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
 } 
.b2 { 

    padding: 10px 10px 10px 10px;
    grid-column: span 3;
} 
.b3 { 
    grid-column: span 5; 
    grid-row: span 2;
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

} 


.b4 { grid-column: span 1; } 
.b5 { grid-column: span 1;
      display: flex;
    align-items: center;
    justify-content: center;
 } 
.b6 { grid-column: span 1; 
    display: flex;
    align-items: center;
    justify-content: center;
} 
.b7 { grid-column: span 4; } 


.b8 { grid-column: span 6; } 
.b9 { grid-column: span 6; } 


.b1 p {
    margin: 5px 0 5px 10px;
    font-family: newsreader;
    font-size: 14px;
    color: var(--text-color);
}

.WIP-B1 {
     display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    background-color: var(--bg-wp);
    border-radius: 20px;
}

.WIP-B1 p {
    margin: 0;
    font-family: inter;
    font-weight: 500;
    font-size: 36px;
    color: var(--text-color);
}

.Map-B2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--element-secondary);
}

.Map-B2 img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1),
                filter 0.8s cubic-bezier(0.22, 1, 0.36, 1);
    border-radius: 20px;
}

.Map-B2 img:hover {
    filter: grayscale(0%);
}

.b3 .svg-book{
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.b3 h1{
    position: relative;
    z-index: 2;
    margin: 0;
    font-size: 24px;
    font-family: newsreader;
    font-weight: normal;
    margin-bottom: 10px;
}

.b3 p{
    position: relative;
    z-index: 2;
    margin: 0 ;
    font-size: 16px;
    font-family: inter;
    color: var(--text-accent-color);
}


.b3 .bg-b3 {
    margin: 0;
    position: absolute;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: 1;
    height: 45%;
    background: linear-gradient(0deg, rgba(244, 243, 241, 0.75) 0%, rgba(244, 243, 241, 0.26) 100%);
    filter: blur(15px);
    backdrop-filter: blur(20px);
    pointer-events: none;
}

.news-1, .news-2, .news-3 {
    position: absolute;
    top: 20px;
    z-index: 0;
    width: 36%;
    height: 85%;
    background-color: var(--element-primary);
    box-shadow: inset 0 0 0 2px rgba(205, 183, 165, 0.05);
    border-radius: 10px;
    pointer-events: none;
}

.news-1 {
    left: 20px;
}

.news-2 {
    left: calc(36% + 40px);
}

.news-3 {
    left: calc((36% * 2) + 60px);
}


.b4-x {
    max-width: 50px;
    max-height: 50px;
    filter: grayscale(100%);
    transition: opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    filter 0.8s cubic-bezier(0.22, 1, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.b5-figma img{
    max-width: 50px;
    max-height: 50px;
    filter: grayscale(100%);
    transition: opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    filter 0.8s cubic-bezier(0.22, 1, 0.36, 1);
    object-fit: contain;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.b4:hover .b4-x {
    filter: grayscale(0%);
    transform: translateY(-3px);
}

.b5:hover .b5-figma img{
    filter: grayscale(0%);
    transform: translateY(-3px);
}

.b6-github img{
    max-width: 50px;
    max-height: 50px;
    filter: grayscale(100%);
    transition: opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    filter 0.8s cubic-bezier(0.22, 1, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.b6:hover .b6-github img{
    filter: grayscale(0%);
    transform: translateY(-3px);
}

.b7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: newsreader;
    font-size: 24px;
}

.b7 p {
        margin: 20px 20px 20px 20px;
         transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.b7:hover .circle-button {
    transform: translateX(2px) scale(1.15); 
}

.b7:hover .circle-button svg {
    transform: translateX(2px) rotate(15deg);
}

.b7:hover p {
    transform: translateX(2px);
}


.Projects-nav {
    display: flex;
    align-items: flex-start;
}

.Projects-nav h1 {
    font-size: 36px;
    margin-top: 60px;
    margin-left: 90px;
    margin-right: 20px;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.Projects-nav .circle-button {
    margin-top: 60px;
}

.projects {
    margin-left: 90px;
    margin-right: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;


}

.p1 , .p2 , .p3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 430.67px;
    height: 300px;
    padding: 10px;
    background-color: var(--element-primary);
    border-radius: 50px;
}

.p1:hover , .p2:hover , .p3:hover {
    padding-bottom: 40px;
}

.Projects-nav:hover .circle-button {
    transform: translateX(2px) scale(1.15); 
}

.Projects-nav:hover .circle-button svg {
    transform: translateX(2px) rotate(15deg);
}

.Projects-nav:hover h1 {
    transform: translateX(2px);
}

.img-p1 , .img-p2 , .img-p3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-wp);
    border-radius: 40px;
}

.img-p1 , .img-p2 , .img-p3 p {
    font-size: 36px;
    font-weight: bold;
}

